/* Fonts ---------------------------------------------------------------------------------------------------------------------------------*/

  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



/* Default CSS ---------------------------------------------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('./assets/pexels-adrien-olichon-2387793.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  background-color: #151515;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}



/* NavBar ---------------------------------------------------------------------------------------------------------------------------------*/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  transition:  0.32s ease-in-out;
  height: 80px;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 9%;
  color: #f1edf7;
  font-weight: 700;
  font-family: 'Monoton', cursive;
}

nav.navbar .navbar-nav a.nav-link.navbar-link {
font-weight: 400;
color: #d4bff2;
letter-spacing: 0.8px;
padding: 0 25px;
font-size: 18px;
opacity: 0.75 !important;
transition: 0.3s ease-in-out;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1 !important;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #d4bff2;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #d4bff2;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #d4bff2;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #d4bff2;
	height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #d4bff2;
	height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* Jumbotron ---------------------------------------------------------------------------------------------------------------------------------*/
.jumbotron {
  margin-top: 0;
  padding: 260px 0 100px 0;
  
}

.jumbotron h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: #f1edf7;
}

.jumbotron p {
  color: #d4bff2;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.jumbotron button {
  font-weight: 700;
  color: #d4bff2;
  border: 1px solid #d4bff2;
  padding: 18px 34px;
  font-size: 18px;
  margin-right: 1.5rem;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  z-index: 2; 
  margin-bottom: 15px;
}

.jumbotron button span {
  z-index: 1;
}

.jumbotron button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90.21deg, #6b22b9 -5.91%, #8d7ea2 111.58%);
  left: 0;
  top: 0;
  z-index: -2;
  transition: 0.4s ease-in-out;
}

.jumbotron button:hover {
  color: #121212;
}

.jumbotron button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
  z-index: -1; 
}

.jumbotron img {
  animation: updown 3s linear infinite;
  width: 330px;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}



/* Skills ---------------------------------------------------------------------------------------------------------------------------------*/
.skill {
  padding: 70px 0 50px 0;
  position: relative;
}

.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.skill h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item svg {
  width: 150px;
  height: 150px;
  margin: 0 auto 15px auto;
  fill: #7d689c;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.react-multi-carousel-list button.react-multiple-carousel__arrow--left {
  left: 0%;
}

.react-multi-carousel-list button.react-multiple-carousel__arrow--right {
  right: 0%;
}



/* Projects ---------------------------------------------------------------------------------------------------------------------------------*/
.project {
  padding: 10px 0;
  position: relative;
}

.project .col {
  padding: 40px 20px;
  background: #151515;
  border-radius: 64px;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.proj-imgbx img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  z-index: 1;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #8d7ea2 -5.91%, #6b22b9 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
  backface-visibility: hidden;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-imgbx button {
  margin: 20px 10px;
  border-radius: 20px;
}

.proj-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #8d5ba2 0, #720ea0 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(92, 58, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  width: 100px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.proj-button:focus {
  box-shadow: #9e3ce0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #993ce0 0 -3px 0 inset;
}

.proj-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a93ce0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.proj-button:active {
  box-shadow: #a13ce0 0 3px 7px inset;
  transform: translateY(2px);
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}



/* Contacts ---------------------------------------------------------------------------------------------------------------------------------*/
.contact {
  padding: 60px 0 200px 0;
}

.contact img {
  width: 80%;
}

.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}

.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

.contact form button {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(92, 58, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 60px;
  width: 150px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #151515;
  padding: 14px 48px;
  margin-top: 25px;
}

.contact form button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #a93ce0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.contact form button:active {
  box-shadow: #a13ce0 0 3px 7px inset;
  transform: translateY(2px);
}

.contact form button span {
  z-index: 1;
  position: relative;
}



/* Footer ---------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  padding: 15px 0;
  background-color: #151515;
  border-radius: 64px 64px 0 0;
}

.social-icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  fill: #d4bff2;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  margin: 0 20px 10px 20px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.social-icon a svg {
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.social-icon a::after {
  content: "";
  width: 100%;
  height: 100%;
  top: -55px;
  left: 0;
  position: absolute;
  background: linear-gradient(90.21deg, #8d7ea2 -5.91%, #6b22b9 111.58%);
  transition: 0.5s ease-in-out;
}

.social-icon a:hover {
  transform: translateY(-10px);
  transition: 0.6s ease-in-out;
}

.social-icon a:hover::after {
  top: 0;
}

.social-icon a:hover svg {
  fill: #000;
}

.footerText {
  font-weight: 100;
  font-size: 14px;

}

@media (max-width: 480px) {
  nav.navbar {
    height: 130px;
  }
}
